.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*cookies form*/
.cookies-form {
    text-align: center;
    background-color: #194277;
    padding: 10px;
    color: #fff;
    font-size: 0.8em;
}
#cookies-accept-button {
    margin: auto 20px;
    padding: 5px;
    width: 90px;
    border-radius: 12px;
    color: #194277;
    background-color: #fff;
}
/*header*/

header {
    display: block;
    background-image: url("../images/header-background-image.png");
    background-size: 100%;
}

.header-content-wrapper {
    max-width: 800px;
    margin: auto;
}

/*NAVIGATION*/
nav {
    display: block;
}
.navigation{
    position: relative;
    display: inline-block;
    float: right;
}
.dropdown-button {
    background: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    display: block;
    float: right;
    padding: 20px;
}
.nav-dropdown-content {
    position: absolute;
    width: 120px;
    display: none;
    list-style: none;
    background-color: #194277;
    z-index: 1;
    right: 0;
}
.nav-dropdown-content li {
    padding: 3px;
}
.nav-dropdown-content li a {
    text-decoration: none;
    color: white;
    padding: 3px;
}

.navigation:hover .nav-dropdown-content {
    display: block;
}
/*END NAVIGATION*/

.face-image-wrapper {
    margin: auto;
    text-align: center;
    padding: 15px;
}
.header-title h1 {
    padding: 20px 0px;
    color: white;
    text-align: center;
    font-size: 2.7em;
}
.header-title p{
    margin: auto;
    width: 80%;
    font-size: 0.75em;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 25px;
}
/*HIRE ME BUTTON*/
.hire-me-header-wrap{
    text-align: center;
    padding: 40px;
}
#hire-me-header-button {
    height: 37px;
    width: 140px;
    background-color: white;
    border-radius: 18px;
    color: #3695ff;
}
.little-nav-arrow {
    text-align: center;
    padding: 10px;
}
.little-nav-arrow img {
    max-width: 15px;
}

/*MAIN BLOCK*/
/*About me block*/
#about-me-block {
    padding: 20px;
    text-align: center;
}
#about-me-block h2 {
    padding: 20px;
    font-size: 2em;
    font-weight: 300;
    color: #3677fd;
}
#about-me-block p {
    margin: auto;
    max-width: 900px;
    font-size: 0.75em;
    line-height: 25px;
    padding: 15px;
}
/*Expert in block*/
#expert-in-block {
    padding: 20px;
    background-color: #f1f8ff;
}
#expert-in-block h2 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: 300;
    color: #3677fd;
}

.expert-container {
    max-width: 900px;
    margin: auto;
}
.expert-element {
    width: 32.5%;
    display: inline-block;
    text-align: center;
}
.expert-element img {
    padding: 20px;
}
.expert-element h3 {
    color: #3677fd;
    font-weight: 300;
}
.expert-element p {
    padding: 10px;
    line-height: 23px;
    font-size: 0.75em;
}
@media only screen and (max-width: 600px) {
    .expert-element {
        display: block;
        width: 100%;
    }
}
/*Latest works block*/
#latest-works {
    padding: 20px 20px 50px 20px;
}
#latest-works h2 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: 300;
    color: #3677fd;
}
#latest-works .expert-element img {
    max-width: 95%;
}
/*Clients*/
#clients {
    padding: 50px 0;
    background-color: #f1f8ff;
}
#clients h2 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: 300;
    color: #3677fd;
}
.clients-container {
    max-width: 900px;
    margin: auto;
}
.client-element {
    width: 24%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
}
@media only screen and (max-width: 768px) {
    .client-element {
        display: block;
        width: 100%;
    }
}
footer {
    background-image: url("images/header-background-image.png");
}